.loaderMain {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
}

.loader {
  position: absolute;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
}

.planet {
  margin: 21px;
  font-size: 100px;
  color: white;
  white-space: nowrap;
  mix-blend-mode: difference;
}
